<html>
<head>
	<title>We Heart Designers</title>
	<meta charset="utf-8">
	 <link rel='stylesheet' href='/stylesheets/style.css' />
</head>



<body>
	<form method = "POST" action = "#">
		<textarea name="message" cols="40" rows ="3" placeholder = "Write some text"></textarea>
		<input type = "text" name = "twitter" placeholder = "Your Twitter handle">
		<input type = "text"   name = "email" placeholder = "Your email address">
		<input type = "submit" value = "Submit">

</form>

</body>



</html>
