 <!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script scr="/bower_components/masonry/dist/masonry.pkgd.js"></script>

<body>

<% for(var i=0; i<data.length; i++) { %>
<div id ="container">
    --------------------------------------
    <p>
        <%= data[i].message %>
    </p>
    <p>
        <%= data[i].email %>
    </p>
    <p>
        <%= data[i].twitter %>
    </p>
</div>
<% } %>
 <input type="button"  class = "show" value="showMore" onclick="showMore()"/>  </a>

<script>

 function showMore(){
  var container = document.getElementById("container") ;
  var show = document.getElementsByClassName("show")[0];
        var masonry = new Masonry();
        container.appendChild(p);
        masonry.appended(p);
        masonry.layout();
        $.ajax({
          url:"?date="+show.id + "&dataType=JSON",
           type:"GET",
           success:function(data){
               if(data!= ""){
                   for(var i=0; i<data.length; i++){
                       var html = container.innerHTML;
                       console.log(html);
                   }

               }
           }

       });
   }

</script>
</body>
</html>
