 <!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>
<% for(var i in data) { %>
<div>
    --------------------------------------
    <p>
        <%= data[i].message %>
    </p>
    <p>
        <%= data[i].email %>
    </p>
    <p>
        <%= data[i].twitter %>
    </p>
</div>
<% } %>




</body>
</html>
