 <!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>
<div id = ""></div>
<% for(var i in data) { %>
<div>
    --------------------------------------
    <p>
        <%= data[i].message %>
    </p>
    <p>
        <%= data[i].email %>
    </p>
    <p>
        <%= data[i].twitter %>
    </p>
</div>
<% } %>
<input type="button" value="showMore" onclick="showMore()">


<!--<script>-->
    <!--function showMore(){-->
        <!--$.ajax({-->
            <!--url: "/",-->
            <!--type: "POST",-->
            <!--data: {count: 2},-->
            <!--success: function (data) {-->
                <!--console.log(data);-->
            <!--}-->
        <!--});-->

    <!--};-->

<!--</script>-->

</body>
</html>
