<html>
<head>
    <title>We Heart Designers</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>

<body class="login-content">
<p id = "error"></p>
<form method = "POST" action = "#">
   <div class="login-login">
       <div class="login-middle">
    <input type="text" name = "username" placeholder = "username" value="<%=username%>" class="login-username">
    <input type="password" name = "password" placeholder = "password" value="<%=password%>" class="login-password">
    <input type = "submit" value = "Login" class="login-btn">
       </div>
    </div>
</form>




<script>

    $(document).ready(function() {
        var username = "<%- error.username%>",
            password = "<%- error.password%>";
        console.log(username + "   empty");
        console.log(password + "   empty");

        if (username) {
            var usernameClass = $(".login-username");
            usernameClass.css("border", "2px solid #dd3d36");
            usernameClass.attr("placeholder", "Enter the correct username");
//            $(".login-username").transition({ color:"green" });

        }

        if (password) {
            var passwordClass = $(".login-password");
            passwordClass.css("border", "2px solid #dd3d36");
            passwordClass.attr("placeholder", "Enter the correct password");

//           loginId.css("webkit-transition", "left, right");
//           loginId.css("transition-duration", "1s,1s");
        }
    })
</script>
</body>
</html>


