<html>
<head>
    <title>We Heart Designers</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method = "POST" action = "#">
    <input type="text" name = "username" placeholder = "username">
    <input type="password" name = "password" placeholder = "password">
    <input type = "submit" value = "LogIn">

</form>

</body>
</html>


