<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>

<div class="icon">
    <a href="https://www.facebook.com"><img src="images/fb.png"></a>
    <a href="https://www.facebook.com"><img src="/images/twitter.png"></a>
    <a href="https://www.facebook.com"><img src="/images/g+.jpg"></a>
</div>
<input type="button" id="prev" value="prev" onclick="prev()">
<div class="container">

    <div class="item">
        <p class="text" id="text">
            <%= data[0].message %>
        </p>
        <img src="<%=data[0].icon%>" id="icon">
        <p class="text" id="twitter">
            <%= data[0].twitter %>
        </p>
    </div>

</div>
<input type="button" id="next" value="next" onclick="next()">
<input type="hidden" id="time" value="<%=time%>">



<script>

   function prev(){
       var time = $("#time").val(),
           text = $("#text"),
           twitter = $("#twitter"),
               icon = $("#icon");

       console.log(time);
       $.ajax({
          url: "?dataType=Prev&time="+time,
           type: "GET",
           success: function(response){
               if(response == "NaN"){
                   console.log("not a data");
                   return true;
               }

               if(response["data"][0].message.match((/(<([^>]+)>)/ig))){
                   var array=[];
                   array = response["data"][0].message.split("");
                       if(array[0]=="<"){
                           array[0] = "&lt;"
                       }
                       if(array[0]==">"){
                           array[0] = "&gt;"
                       }


                   response["data"][0].message = array.join("");
               }

                   console.log(response);
                   text.html(response["data"][0].message);
                   twitter.html(response["data"][0].twitter);
                   icon.attr("src",response["data"][0].icon);
                   $("#time").attr('value',response['prevTime']);
                  history.pushState({}, '', 'http://localhost:3000/view-'+response['id']);
     }

       });

   };



   function next(){
       var time = $("#time").val(),
          text = $("#text"),
          twitter = $("#twitter"),
          icon = $("#icon");
       console.log(time);
       $.ajax({
           url: "?dataType=Next&time="+time,
           type: "GET",
           success: function(response){
               if(response == "NaN"){
                   console.log("not a data");
                   return true;
               }
               if(response["data"][0].message.match((/(<([^>]+)>)/ig))){
                   var array=[];
                   array = response["data"][0].message.split("");
                       if(array[0]=="<"){
                           array[0] = "&lt;"
                       }
                       if(array[0]==">"){
                           array[0] = "&gt;"
                       }
           response["data"][0].message = array.join("");
               }
                   console.log(response);
                   text.html(response["data"][0].message);
                   twitter.html(response["data"][0].twitter);
                   icon.attr("src",response["data"][0].icon);
                   $("#time").attr('value',response['nextTime']);
                  history.pushState({}, '', 'http://localhost:3000/view-'+response['id']);
            }

       });

   }
</script>
</body>
</html>